<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect empty requests to public/index.php
    RewriteRule ^$ public/index.php [L]
    
    # Rewrites all other requests to public/index.php unless it exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
